@media(max-width: 900px) {
  #app {
    width: 50%;
  }

  .card {
    padding: 0em;
  }
}


@media(max-width: 700px) {
  #app {
    width: 60%;
  }

  .card {
    padding: 0em;
  }

  .adviceNumber {
    font-size: 1.1rem; 
  }

  .advice {
    font-size: 1.2rem;
  }
}


@media(max-width: 475px) {
  #app {
    width: 75%;
  }

  .card {
    padding: 0em;
  }

  .adviceNumber {
    font-size: 1.1rem; 
  }

  .advice {
    font-size: 1.2rem;
  }
}